@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5deb3;
  --foreground: #3e2c20;
  --font-famaly: var(--font-lora);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: --font-famaly, serif;
}
